<div class="container mb-5">
  <div class="row text-center border rounded mb-3 ">
      <div class="col"> <label>Presupuesto disponible:</label> </div>
      <div class="col"> <label for=""> {{presupuestoTotal}}</label> </div>
  </div>
  <div class="row text-center border rounded mb-3">
      <div class="col"> <label>Ingresos:</label> </div>
      <div class="col"> <label for=""> {{ingresoTotal}} </label> </div>
  </div>
  <div class="row text-center border rounded mb-3">
      <div class="col"> <label>Egresos:</label> </div>
      <div class="col"> <label for="">{{egresoTotal}}</label> </div>
  </div>
</div>
